In [1]:
import pandas as pd
import numpy as np

In [7]:
boolean=[True,False]
gender=["男","女"]
color=["white","black","yellow"]
data=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]
}
)
data

    height  weight  smoker gender  age   color
0      155      71   False      女   82   white
1      169      51   False      女   85  yellow
2      188      49    True      女   47   white
3      170      76   False      女   61  yellow
4      158      70   False      女   32   white
..     ...     ...     ...    ...  ...     ...
95     184      68    True      男   16   black
96     179      79   False      男   82  yellow
97     164      88    True      女   47   black
98     152      64    True      女   78   black
99     159      46    True      女   44  yellow

[100 rows x 6 columns]

In [3]:
data['gender'] = data['gender'].map({'男':1, '女':0})
data

    height  weight  smoker  gender  age   color
0      176      61   False       0   17  yellow
1      171      61   False       1   65  yellow
2      165      45   False       1   74  yellow
3      172      80    True       0   71  yellow
4      172      56   False       0   27   white
..     ...     ...     ...     ...  ...     ...
95     189      62    True       1   34   black
96     177      88    True       1   36  yellow
97     166      47    True       1   80   white
98     157      76    True       0   56   white
99     188      86   False       1   23   black

[100 rows x 6 columns]

In [5]:
def gender_map(x):
    return 1 if x=='男' else 0

data['gender'] = data['gender'].apply(gender_map)

In [6]:
data

    height  weight  smoker  gender  age   color
0      161      58   False       0   49  yellow
1      154      47    True       1   19   black
2      151      65   False       0   56  yellow
3      170      41   False       1   81   black
4      152      45   False       0   33  yellow
..     ...     ...     ...     ...  ...     ...
95     185      88    True       1   89   white
96     157      86   False       0   54  yellow
97     176      63    True       1   23   white
98     172      52    True       1   31   black
99     185      87   False       1   57   black

[100 rows x 6 columns]

In [8]:
data['gender'] = data['gender'].apply({'男':1, '女':0})

AssertionError:

In [1]:
import seaborn as sns
import pandas as pd

df_tips = sns.load_dataset('tips')
df_tips

groups = df_tips.groupby(by='sex')

for title, group in groups:
    print(title)
    print(group)
    
# 可以通过get_group()函数直接获取指定组
groups.get_group('Female')

Male
     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 7 columns]
Female
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [2]:
df_tips.groupby('sex').mean()
df_tips.groupby('sex').agg('mean')
# 上述两种方法的结果是一致的。

# agg可以同时计算多个
df_tips.groupby('sex').agg(['mean', 'min', 'max'])

# agg可以更改列名
df_tips.groupby('sex')['tip'].agg([('tip_mean', 'mean'), ('tip_min', 'min'), ('tip_max', 'max')])
# 前面是列名,后面是方法

# df_tips.groupby(['sex']).agg({'tip': ('tip.mean', 'mean'),
#                              {'处理的列名': ('处理完后的名字', '处理的办法')}})  # 这里以元组的方式

        tip_mean  tip_min  tip_max
sex
Male    3.089618      1.0     10.0
Female  2.833448      1.0      6.5

In [3]:
df_tips.groupby(['sex']).agg({'tip': ('tip.mean', 'mean')})
                             # {'处理的列名': ('处理完后的名字', '处理的办法')}})  # 这里以元组的方式

AttributeError: 'SeriesGroupBy' object has no attribute 'tip.mean'

In [7]:
import pandas as pd
a = pd.date_range(start='20220901', end='20220902', freq='BH')

In [8]:
list(a)

[Timestamp('2022-09-01 09:00:00', freq='BH'),
 Timestamp('2022-09-01 10:00:00', freq='BH'),
 Timestamp('2022-09-01 11:00:00', freq='BH'),
 Timestamp('2022-09-01 12:00:00', freq='BH'),
 Timestamp('2022-09-01 13:00:00', freq='BH'),
 Timestamp('2022-09-01 14:00:00', freq='BH'),
 Timestamp('2022-09-01 15:00:00', freq='BH'),
 Timestamp('2022-09-01 16:00:00', freq='BH')]