In [1]:
import pandas as pd

In [15]:
file = r'../data/gapminder.csv'
gapminder = pd.read_csv(file, index_col=0)
gapminder.head()

,time,adults_with_hiv_percent_age_15_49,age_at_1st_marriage_women,aged_15_24_employment_rate_percent,aged_15_24_unemployment_rate_percent,aged_15_64_labour_force_participation_rate_percent,aged_15plus_employment_rate_percent,aged_15plus_labour_force_participation_rate_percent,aged_15plus_unemployment_rate_percent,aged_25_54_labour_force_participation_rate_percent,...,underweight_children,urban_population,urban_population_growth_annual_percent,urban_population_percent_of_total,urban_poverty_percent_urban_people_below_national_urban,water_and_sanitation_aid_given_percent_of_aid,water_withdrawal_cu_meters_per_person,wood_removal_cubic_meters,working_hours_per_week,yearly_co2_emissions_1000_tonnes
geo,,,,,,,,,,,,,,,,,,,,,
afg,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
afg,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
afg,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
afg,1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
afg,1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
idx = {'afg':'Afghanistan'}
col = {'time':'date'}
data = gapminder.rename(index=idx, columns=col)
data.head()

,date,adults_with_hiv_percent_age_15_49,age_at_1st_marriage_women,aged_15_24_employment_rate_percent,aged_15_24_unemployment_rate_percent,aged_15_64_labour_force_participation_rate_percent,aged_15plus_employment_rate_percent,aged_15plus_labour_force_participation_rate_percent,aged_15plus_unemployment_rate_percent,aged_25_54_labour_force_participation_rate_percent,...,underweight_children,urban_population,urban_population_growth_annual_percent,urban_population_percent_of_total,urban_poverty_percent_urban_people_below_national_urban,water_and_sanitation_aid_given_percent_of_aid,water_withdrawal_cu_meters_per_person,wood_removal_cubic_meters,working_hours_per_week,yearly_co2_emissions_1000_tonnes
geo,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data = gapminder.set_index('time')
data.head()

,adults_with_hiv_percent_age_15_49,age_at_1st_marriage_women,aged_15_24_employment_rate_percent,aged_15_24_unemployment_rate_percent,aged_15_64_labour_force_participation_rate_percent,aged_15plus_employment_rate_percent,aged_15plus_labour_force_participation_rate_percent,aged_15plus_unemployment_rate_percent,aged_25_54_labour_force_participation_rate_percent,aged_25_54_unemployment_rate_percent,...,underweight_children,urban_population,urban_population_growth_annual_percent,urban_population_percent_of_total,urban_poverty_percent_urban_people_below_national_urban,water_and_sanitation_aid_given_percent_of_aid,water_withdrawal_cu_meters_per_person,wood_removal_cubic_meters,working_hours_per_week,yearly_co2_emissions_1000_tonnes
time,,,,,,,,,,,,,,,,,,,,,
1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
new_data = data.reset_index()
new_data.head()

,time,adults_with_hiv_percent_age_15_49,age_at_1st_marriage_women,aged_15_24_employment_rate_percent,aged_15_24_unemployment_rate_percent,aged_15_64_labour_force_participation_rate_percent,aged_15plus_employment_rate_percent,aged_15plus_labour_force_participation_rate_percent,aged_15plus_unemployment_rate_percent,aged_25_54_labour_force_participation_rate_percent,...,underweight_children,urban_population,urban_population_growth_annual_percent,urban_population_percent_of_total,urban_poverty_percent_urban_people_below_national_urban,water_and_sanitation_aid_given_percent_of_aid,water_withdrawal_cu_meters_per_person,wood_removal_cubic_meters,working_hours_per_week,yearly_co2_emissions_1000_tonnes
0,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
gapminder.columns

Index(['geo', 'time', 'adults_with_hiv_percent_age_15_49',
       'age_at_1st_marriage_women', 'aged_15_24_employment_rate_percent',
       'aged_15_24_unemployment_rate_percent',
       'aged_15_64_labour_force_participation_rate_percent',
       'aged_15plus_employment_rate_percent',
       'aged_15plus_labour_force_participation_rate_percent',
       'aged_15plus_unemployment_rate_percent',
       ...
       'underweight_children', 'urban_population',
       'urban_population_growth_annual_percent',
       'urban_population_percent_of_total',
       'urban_poverty_percent_urban_people_below_national_urban',
       'water_and_sanitation_aid_given_percent_of_aid',
       'water_withdrawal_cu_meters_per_person', 'wood_removal_cubic_meters',
       'working_hours_per_week', 'yearly_co2_emissions_1000_tonnes'],
      dtype='object', length=537)

KeyError: 'country'